# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directory
venv/

# Ignore sensitive configuration
.env
static_timetable.json
encryption.key

# Ignore temporary debug files
*.html
*.json
auto_bookings.db
gabs_api.log
