# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directory
venv/

# Ignore sensitive configuration
config.py

# Ignore temporary debug files
*.html
*.json
workout_ashton_timetable.csv
auto_bookings.db
